<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.leixiaoyue.lhlearningdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TableOfContent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".draganddrop.DragAndDropActivity"/>
        <activity android:name=".rotate.RotateActivity"/>
        <activity android:name=".translateandhide.TranslateViewAcitivity"/>
        <activity android:name=".translateandhide.HideViewAcitivity"/>
        <activity android:name=".networkconnection.NetworkActivity"/>
        <activity android:name=".graffiti.GraffitiActivity"/>
        <activity android:name=".recycleviewalbum.AlbumActivity"/>
        <activity android:name=".recycleviewalbum.ImageActivity"/>
        <activity android:name=".recycleviewalbum.SingleImageActivity"/>
        <activity android:name=".databaseperfromance.DbPerfActivity"/>
        <activity
            android:name=".actionbaranimation.ActionBarAnimActivity"
            android:theme="@android:style/Theme.Holo.Light"/>
    </application>

</manifest>
